Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
# Ignoring Content for now
Content/AssetPacks/

.vs/S05_TestingGrounds/v15/ipch/
.vs/
