Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
# Ignoring Content for now
Content/AssetPacks/

# Ignoreing Build Data for sandbox

Content/Levels/Sandbox_BuiltData.uasset
.vs/S05_TestingGrounds/v15/ipch/
.vs/
